@using TheMask.ViewModels;
@model AdminRegisterModel
<!DOCTYPE html>
<html>
<head>
    <style>
        .login-container {
            margin-top: 120px;
            background-color: #E7DFD8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px dotted black;
        }

        input[type="text"], input[type="password"], input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #d000bf;
            border-radius: 5px;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        button {
            flex: 1;
            padding: 10px;
            background-color: #FF7B34;
            color: black;
            border: none;
            cursor: pointer;
        }

        .login-button {
            background-image: linear-gradient(to right, #d02dbd28, #f319e1);
            border-radius: 10px;
            padding: 10px;
        }

        .sign-up-button {
            background-image: linear-gradient(to right, #d02dbd28, #f319e1);
            border-radius: 10px;
            color: black;
            border: none;
            cursor: pointer;
        }

    </style>
</head>
<body style="background-color: #E7DFD8;">
    <div class="login-container">
        <h2>Create an Account</h2>
        <br>


        <form asp-action="SignUp" asp-controller="Account">

            <div class="form-check">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
            </div>
                <div class="form-check">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" placeholder="Enter Username">
            </div>
            <div class="form-check">
                <label asp-for="Email"></label>
                <input asp-for="Email">
            </div>
            <div class="form-check">
                <label asp-for="Phone"></label>
                <input asp-for="Phone">
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="Enter Password">
            </div>
            <div class="form-check">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword">
            </div>
            <div class="button-container">
            <button class="sign-up-button" type="submit"><b>Sign Up</b></button>
            </div>
        </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>